/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   font-family: Arial, Helvetica, sans-serif;
}
button{
   margin: 10px;
   padding: 15px;
}
button:hover{
   background-color: rgb(194, 186, 186);
}
#conteudo{
   width: 800px;
   height: 500px;
   margin: 15px;
}
.fruta{
   padding: 5px;
   font-family: "Delius", serif;
}
.fruta>p{
   padding: 15px;
   margin: 5px;
}
.verduras{
   width: 100%;
   background-color: aquamarine;
   padding: 5px;
   font-family: "Chewy", serif;
   font-size: 1.2em;
}
.verduras>p{
   padding: 15px;
   margin: 5px;
}
/* class criada no js  */
.dark{
   background-color: rgb(42, 44, 44);
}
.light{
   background-color: rgba(255, 255, 255, 0.897);
}