body{
   background-color: rgb(165, 145, 253);
   font: normal 1.3em Arial;
}
section{
   background-color: white;
   width: 600px;
   height: 450px;
   margin: auto;
   border-radius: 25px;
   position: relative;
}
div, input{
   padding: 5px;
   text-align: center;
}
#foto{
   width: 200px;
   margin-top: 90px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}